<!DOCTYPE HTML>
<html>
	<head>
		<title>Map</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<%- partial('partial/header-script') %>
	</head>
	<body>

		<header id="header">
			<a href="#menu"></a>
			<a>{{location}}</a>
			<a href="/date" class="icon fa-chevron-right"></a>
		</header>
		
		<%- partial('partial/nav') %>

		<section id="three" class="wrapper style1 special">
			<div class="inner">
				<header class="major">
					<h2>Tempus feugiat</h2>
					<p>Ipsum sed elementum amet</p>
				</header>
				<section class="features">
					<section>
						<span class="icon fa-cubes style3"></span>
						<h4>Justo magna</h4>
						<p>Nulla imperdiet, lorem in pretium sed aliquet, lacus dui magna tristique lacus, vel convallis justo lectus in augue. Tempus pellentesque imperdiet et elementum.</p>
					</section>
					<section>
						<span class="icon fa-diamond style4"></span>
						<h4>Sed trisique</h4>
						<p>Nulla imperdiet, lorem in pretium sed aliquet, lacus dui magna tristique lacus, vel convallis justo lectus in augue. Tempus pellentesque imperdiet et elementum.</p>
					</section>
					<section>
						<span class="icon fa-camera-retro style2"></span>
						<h4>Lacus pretium</h4>
						<p>Nulla imperdiet, lorem in pretium sed aliquet, lacus dui magna tristique lacus, vel convallis justo lectus in augue. Tempus pellentesque imperdiet et elementum.</p>
					</section>
					<section>
						<span class="icon fa-cloud style3"></span>
						<h4>Dui volutpat</h4>
						<p>Nulla imperdiet, lorem in pretium sed aliquet, lacus dui magna tristique lacus, vel convallis justo lectus in augue. Tempus pellentesque imperdiet et elementum.</p>
					</section>
				</section>
				<footer class="major">
					<ul class="actions">
						<li><a href="#" class="button">Learn More</a></li>
					</ul>
				</footer>
			</div>
		</section>

		<%- partial('partial/footer-script') %>
			

	</body>
</html>