<!DOCTYPE HTML>
<html>
	<head>
		<title>Untitled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<%- partial('partial/header-script') %>
	</head>
	<body class="landing">

		<%- partial('partial/nav') %>

		<!-- Banner -->
			<section id="banner">
				<header class="major">
					<span class="icon fa-code style3"></span>
					<h1>Hologram</h1>
					<p>Sed ipsum lorem feugiat magna elementum</p>
				</header>
				<ul class="actions">
					<li><a href="#one" class="button scrolly">Proceed</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="inner">
					<header class="major alt style2">
						<h2>Augue sed pretium</h2>
						<p>Consectetur nullam vel iaculis</p>
					</header>
					<section class="split">
						<article>
							<h4>Sed imperdiet</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet, lorem in pretium aliquet, lacus dui tristique lacus, vel convallis justo lectus in augue. Tempus pellentesque iaculis imperdiet et elementum.</p>
							<ul class="actions">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
						</article>
						<article>
							<h4>Magna Feugiat</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet, lorem in pretium aliquet, lacus dui tristique lacus, vel convallis justo lectus in augue. Tempus pellentesque iaculis imperdiet et elementum.</p>
							<ul class="actions">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
						</article>
					</section>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3 special">
				<div class="inner">
					<header class="major">
						<h2>Convallis pretium</h2>
						<p>Lorem ipsum lacus adipiscing</p>
					</header>
					<section class="spotlights">
						<section>
							<span class="image"><img src="/images/pic01.jpg" alt="" /></span>
							<h4>Etiam consequat</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet, lorem in pretium aliquet, lacus dui tristique lacus, vel convallis justo lectus in augue. Tempus pellentesque iaculis imperdiet et elementum.</p>
							<ul class="actions">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
						</section>
						<section>
							<span class="image"><img src="/images/pic02.jpg" alt="" /></span>
							<h4>Lacus elementum</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet, lorem in pretium aliquet, lacus dui tristique lacus, vel convallis justo lectus in augue. Tempus pellentesque iaculis imperdiet et elementum.</p>
							<ul class="actions">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
						</section>
					</section>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style1 special">
				<div class="inner">
					<header class="major">
						<h2>Tempus feugiat</h2>
						<p>Ipsum sed elementum amet</p>
					</header>
					<section class="features">
						<section>
							<span class="icon fa-cubes style3"></span>
							<h4>Justo magna</h4>
							<p>Nulla imperdiet, lorem in pretium sed aliquet, lacus dui magna tristique lacus, vel convallis justo lectus in augue. Tempus pellentesque imperdiet et elementum.</p>
						</section>
						<section>
							<span class="icon fa-diamond style4"></span>
							<h4>Sed trisique</h4>
							<p>Nulla imperdiet, lorem in pretium sed aliquet, lacus dui magna tristique lacus, vel convallis justo lectus in augue. Tempus pellentesque imperdiet et elementum.</p>
						</section>
						<section>
							<span class="icon fa-camera-retro style2"></span>
							<h4>Lacus pretium</h4>
							<p>Nulla imperdiet, lorem in pretium sed aliquet, lacus dui magna tristique lacus, vel convallis justo lectus in augue. Tempus pellentesque imperdiet et elementum.</p>
						</section>
						<section>
							<span class="icon fa-cloud style3"></span>
							<h4>Dui volutpat</h4>
							<p>Nulla imperdiet, lorem in pretium sed aliquet, lacus dui magna tristique lacus, vel convallis justo lectus in augue. Tempus pellentesque imperdiet et elementum.</p>
						</section>
					</section>
					<footer class="major">
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</footer>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style4 special-alt">
				<div class="inner split">
					<section>
						<header class="major">
							<h2>Amet lorem</h2>
						</header>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet, lorem in pretium aliquet, lacus dui tristique lacus, vel convallis justo lectus in augue. Tempus pellentesque iaculis imperdiet et elementum lorem sed ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet, lorem pretium aliquet lacus.</p>
					</section>
					<form method="post" action="#">
						<label for="name">Name</label>
						<input type="text" id="name" name="name" />
						<label for="email">Email</label>
						<input type="email" id="email" name="email" />
						<ul class="actions">
							<li><a href="#" class="button">Get started</a></li>
						</ul>
					</form>
				</div>
			</section>

		<!-- Five -->
			<section id="five" class="wrapper style1 special alt">
				<div class="inner">
					<h4>Magna feugiat lorem ipsum?</h4>
					<p>Nulla imperdiet, lorem in pretium sed aliquet, lacus dui magna tristique lacus, vel convallis justo lectus in augue. Tempus  imperdiet et elementum. Nulla imperdiet, lorem in pretium sed aliquet, lacus dui magna tristique lacus.</p>
					<ul class="actions">
						<li><a href="#" class="button">Learn More</a></li>
					</ul>
				</div>
			</section>

		<%- partial('partial/footer-script') %>
			

	</body>
</html>