<!DOCTYPE HTML>
<html>
	<head>
		<title>Let's go to the beach</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<%- partial('partial/header-script') %>

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
		<link rel="stylesheet" href="/css/water.css">

        <script type="text/javascript">
            var countdownnumber=60;
            var countdownid;
            function initial(){ countdownfunc(); }
            function countdownfunc(){
                var x=document.getElementById("countdown");
                x.innerHTML=countdownnumber;
                if (countdownnumber==0){ 
                clearTimeout(countdownid);
            }else{
                countdownnumber--;
                if(countdownid){
                    clearTimeout(countdownid);
                }
                countdownid=setTimeout(countdownfunc,1000);
                }
            }
            
            var located = false;
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
					    console.log(position)
					});
            } else {
                x.innerHTML = "你的瀏覽器可能不支援地理位置！";
            }	
        </script>

        <script>
			var n = angular.module('nasa', []);
		</script>

        <script>
			n.controller('indexCtrl', function($scope, $rootScope, $http) {

                $scope.viewStage = "none"
                $scope.initialize = function() {

                    // $http.post('/nodered/getWarn', {})
					// .success(function(response, status) {
					// 	scope.viewStage = "warning"
					// })
					// .error(function(response, status) {
					// 	console.log(response);
					// })
				}

                $scope.confirm = function() {
					$scope.viewStage = "none"
				}
            })
        </script>

	</head>
	<body class="landing" onload="initial();" ng-app="nasa" ng-controller="indexCtrl" ng-init="initialize()">
		<header id="header">
			<a href="#menu"></a>
			<a class="icon fa-map-pin"> Taipei, Taiwan</a>
			<a>  </a>
		</header>

        <div id='modal' ng-show="viewStage == 'warning'">
			<div id='alert'>
				<li><a ng-click="confirm()">OK</a></li>
			</div>
		</div>

		<%- partial('partial/nav') %>
		<!-- Banner -->
			<section id="banner">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="display: none">
  <symbol id="wave">
    <path d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z"></path>
    <path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z"></path>
    <path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z"></path>
    <path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z"></path>
  </symbol>
</svg>
    <div class="page" id="page">
        <div class="tracker">
            <img src="/images/logo.png" alt="">
        </div>
        <div class="percent">
            <div class="percent__inner">
                <div class="percent__num" id="count"> 89 Min <span id="countdown"></span> Sec </div>
                <br />
                <div class="percent__sign">to Rub sunscreen</div>
            </div>
        </div>
        <button class="water_button small" id="button">Let's Go</button>
        <div class="water" id="water">
            <svg class="water__wave water__wave_back" viewBox="0 0 560 20">
      <use xlink:href="#wave"></use>
    </svg>
            <svg class="water__wave water__wave_front" viewBox="0 0 560 20">
      <use xlink:href="#wave"></use>
    </svg>
            <div class="water__inner">
                <div class="bubble bubble_1"></div>
                <div class="bubble bubble_2"></div>
                <div class="bubble bubble_3"></div>
            </div>
        </div>
    </div>

    <script src="/js/index.js"></script>
			</section>

		<%- partial('partial/footer-script') %>
			

	</body>
</html>