<!DOCTYPE HTML>
<html>
	<head>
		<title>Map</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<%- partial('partial/header-script') %>
	</head>
	<body>

		<header id="header">
			<a href="#menu"></a>
			<a><{{date}}></a>
			<a>  </a>
		</header>
		
		<%- partial('partial/nav') %>

		<section id="banner">
			<header class="major">
				<span class="icon fa-code style3"></span>
				<h1>Hologram</h1>
				<p>Sed ipsum lorem feugiat magna elementum</p>
			</header>
			<ul class="actions">
				<li><a href="/map" class="button scrolly">Proceed</a></li>
			</ul>
		</section>

		<%- partial('partial/footer-script') %>
			

	</body>
</html>