<nav id="menu">
    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/">Generic</a></li>
        <li><a href="elements.html">Elements</a></li>
    </ul>
    <ul class="actions vertical">
        <li><a href="#" class="button special fit">Log Out</a></li>
    </ul>
</nav>